* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none; /* for safari & chrome browsers */
  -moz-user-select: none; /* for mozilla browsers */
  -khtml-user-select: none; /* for konqueror browsers */
  -ms-user-select: none; /* for IE10+ */
  user-select: none;
}

html,
body {
  overflow: hidden;
}

.container {
  z-index: 1;
  margin-top: 10px;
  margin-left: 10px;
}

#three-canvas {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

/* #file-input {
  z-index: 1;
  position: absolute;
  font-size: 17px;
}

#file-remove {
  display: none;
  z-index: 1;
  position: absolute;
  top: 6%;
  font-size: 17px;
} */